 

 <div class= "container">
     
  editor : <%= @show_post.editor%> <br>
       title :  <%= @show_post.title %> <br>
       content : <%=@show_post.content %> <br>
       <a href= "/edit/<%=@show_post.id%>">[수정]</a>
       <a href= "/delete/<%=@show_post.id%>">[삭제]</a>
       <hr>

 </div>
      